seed: 4

data:
  h5_path: "data.nosync/images_224.h5"
  dish_csv_path: "configs/metadata/data_stats.csv"
  normalisation_method: "zscore" # options: "zscore", "minmax", "none"
  prefetch_factor: 2

  image_size: 224
  val_split: 0.2
  batch_size: 32
  num_workers: 9

model:
  backbone: "resnet18" # options: resnet18, resnet50, efficientnet_b0, efficientnet_b4, convnext_tiny, convnext_small, dinov3_small, dinov3_base, dinov3_large
  pretrained: true
  freeze_encoder: false
  attention_pooling: true
  head_dropout_p: 0.5
  hidden_dim: 512

  

train:
  lr: 1e-2
  weight_decay: 1e-4
  loss: "mse" # options: "mse", "smoothl1", "huber"
  max_epochs: 10
  gpus: 1
  precision: 32 # 32-true, bf16-mixed, 32, 16
  accelerator: "auto" # options: "auto", "gpu", "cpu", "tpu", "ipu"
  checkpoint_dir: "checkpoints/"
  experiment_name: "nutrition_prediction_experiment"

logging:
  type: "wandb" # options: "tensorboard", "wandb"
  wandb_team: "dtu-dk"
  wandb_project: "nutrition-prediction"
  wandb_entity: "dtu-dk"
